<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mytweets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Mytweets</a>
        <p class="navbar-text ml-auto">User Profile Page</p>
    </nav>
    <br>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center" role="navigation">
        <p class="navbar-text">Footer </p>
    </nav>
    {% block js %}
    {% endblock %}
</body>

</html>