{% extends "base.html" %}
{% block content %}


<form class="form-inline" method="post" action="post/">{% csrf_token %}
    <!-- <input type="text" name="text" class="form-control mb-2 mr-sm-2" style="width:94%"> -->
    {{ tweetform.text.errors }}
    {{ tweetform.text }}
    {{ tweetform.country.as_hidden }}
    <button type="submit" class="btn btn-primary mb-2 save">Post</button>
</form>

<hr>

{% for tweet in tweets %}
<div style="background:wheat; padding: 15px; margin-bottom: 20px; border-radius: 5px">
    <span>{{ tweet.text }}</span>
</div>
{% endfor %}

{% endblock %}