{% extends "base.html" %}
{% block content %}

<form method="post" action="post/">{% csrf_token %}
    <!-- <div class="col-md-8 col-md-offset-2 fieldWrapper"></div> -->
    <input type="text" class="form-control">
    {{ form.text.errors }}
    {{ form.text }}
    <!-- </div> -->
    {{ form.country.as_hidden }}
    <!-- <div> -->
    <!-- <input type="submit" value="post"> -->
    <button type="submit" class="btn btn-primary mb-2 save">Post</button>
    <!-- </div> -->
</form>

<br>
{% for tweet in tweets %}
<div style="background:wheat; padding: 15px; margin-bottom: 20px;">
    <span>{{ tweet.text }}</span>
</div>
{% endfor %}

{% endblock %}